{% extends 'base.html' %}


{% block body %}

        <div class="container mt-5">
            
            {% for post in posts %}
                <div class="row border p-3 meupost">
                    <div class="col col-2">
                        <div class="image pe-3">
                            <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded-circle" width="50" > 
                       </div> 
                       <div class="col">
                        <span class="number2">{{ post.autor.username}}</span> 
                       </div>
                       <div class="col">                                                    
                            {% for pin in post.autor.pin.split(';') %}
                            <button type="button" class="btn btn-primary disabled btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                {{ pin }}
                            </button>
                            {% endfor %}  
                        </div> 
                    </div>

                    

                    <div class="col col-9">
                        <a class="text-decoration-none titulo" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3 class="titulo">{{ post.titulo }}</h3></a>
                        <span class="number1">@{{ post.autor.username }}</span>   <span class="followers">- {{ post.data_criacao.strftime('%H:%M - %d de %B de %Y') }}</span> 
                        <p>{{ post.corpo }}</p>
                    </div>
                    
                </div>
            {% endfor %}
        </div>

{% endblock %}
