{% extends 'base.html' %}

{% block body %}
    <h1 class="container">Meu Perfil</h1>
    <hr>
    <div class="container mt-5 d-flex justify-content-center">
        
        <div class="card p-3">

            <div class="d-flex align-items-center">

                <div class="image pe-3">
            <img src="{{ foto_perfil }}" class="rounded" width="175" >
            </div>

            <div class="ml-3 w-100">
                
            <h4 class="mb-0 mt-0">{{ current_user.username }}</h4>
            <span>{{ current_user.email }}</span>

            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                <div class="d-flex flex-column">

                    <span class="articles">Posts</span>
                    <span class="number1">38</span>
                    
                </div>

                <div class="d-flex flex-column">

                    <span class="followers">Followers</span>
                    <span class="number2">980</span>
                    
                </div>


                <div class="d-flex flex-column">

                    <span class="rating">Following</span>
                    <span class="number3">1000</span>
                    
                </div>
                
            </div>


            <div class="button mt-2 d-flex flex-row align-items-center">

                <button class="btn btn-sm btn-outline-primary w-100">Editar Perfil</button>

                
            </div>


            </div>

                
            </div>
            
        </div>
        
    </div>
{% endblock %}