{% extends 'base.html' %}


{% block body %}

    <div class="container">
        <h1>Post</h1>
        <hr>
        
            <div class="row border p-3 meupost">
                <div class="col col-2">
                    <div class="image pe-3">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded-circle" width="50" > 
                    </div> 
                    <div class="col">
                    <span class="number2">{{ post.autor.username}}</span> 
                    </div>
                    <div class="col">                                                    
                        {% for pin in post.autor.pin.split(';') %}
                        <button type="button" class="btn btn-secondary disabled btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            {{ pin }}
                        </button>
                        {% endfor %}  
                    </div> 
                </div>                    

                <div class="col col-9">
                    <h3>{{ post.titulo }}</h3>
                    <span class="number1">@{{ post.autor.username }}</span><span class="followers">- {{ post.data_criacao.strftime('%H:%M - %d de %B de %Y') }}</span>
                    {%if form%}
                        <span class="followers"> <strong>- <a class="editar" href="#form_editarpost">Editar</a> | <a class="excluir" data-bs-toggle="modal" data-bs-target="#ExcluirPost" href="#">Excluir</a></strong> </span>
                    {%endif%}
                    <p>{{ post.corpo }}</p>
                </div>
                
            </div>
        
    </div>

{% if form %}

<div class="container ">
    <div class="row">
       
            <form method=POST action="" id="form_editarpost" class="border p-5 rounded-3">
                {{form.csrf_token}}
                <legend class="ms-3">Editar Post</legend>
                <fieldset>
                    
                    <div class="form-group mt-1"> <!--titulo-->
                        {{form.titulo.label (class="form-control-label ms-3")}}

                        {% if form.titulo.errors %}
                            {{form.titulo (class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for erro in form.titulo.errors %}
                                    {{ erro }}
                                {%endfor%}
                            </div>
                        
                        {% else %}
                            {{form.titulo (class="form-control")}}
                        {%endif%}                            
                    </div>
                    
                    <div class="form-group mt-1"> <!--corpo-->
                        {{form.corpo.label (class="form-control-label ms-3")}}

                        {% if form.corpo.errors %}
                            {{form.corpo (class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for erro in form.corpo.errors %}
                                    {{ erro }}
                                {%endfor%}
                            </div>
                        
                        {% else %}
                            {{form.corpo (class="form-control")}}
                        {%endif%}                            
                    </div>
                    
                </fieldset><!--Botao Editar Perfil-->
                {{form.botao_submit (class="btn btn-primary rounded-pill mt-2 ms-2")}}
            </form>
        
    </div>
</div>
    
{%endif%}



<!-- Modal -->
<div class="modal fade" id="ExcluirPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Quer excluir mesmo? Tu que sabe...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancela</button>
          <form action="{{ url_for('excluir_post', post_id=post.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Exclui esse nojo</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>


{% endblock %}
