.navbar-expand-lg{
    background-color: white !important;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.navbar-brand{
    font-weight: bolder;
    font-size: 2rem;
    color: #3b49df !important;
}

.nav-link{
    color: #3b49df !important;
    border-radius: 15px;
}

.nav-link:hover{
    border-radius: 15px;
    color: white !important;    
    background-color: #3b49df !important;

}

.criar-post{
    border: #3b49df 1px solid;
    border-radius: 15px;
    text-decoration: none !important;
}